[Desktop Entry]
Type=Application
Version=1.0
Name=Bottom
GenericName=System Monitor
Comment=System monitor
Path=/bin
Exec=btm
Icon=utilities-system-monitor
Terminal=true
Keywords=System;Monitor;Statistics
