@theme "theme.rasi"

window {
    location:   center;
    anchor:     center;
    width:      500px;
}

mainbox {
    children:   [message, inputbar];
}

inputbar {
    children:   [prompt, entry];
}

entry {
    placeholder: "";
}

