colorschemes/build/
zsh/.zshprofile
zsh/.zshenv
ssh/
env

**/__pycache__/

nvim/lazy-lock.json
yazi/plugins/

# Links to theme files
alacritty/theme.toml
bspwm/theme.sh
dunst/dunstrc.d/01-colors.conf
eww/styles/theme.scss
kitty/theme.conf
lazydocker/config.yml
lazygit/theme.yml
nvim/lua/theme/colors.lua
polybar/theme.ini
ranger/colorschemes/theme.py
rofi/theme/colors.rasi
themes/Adaptish/gtk-2.0/colors.rc
themes/Adaptish/gtk-3.0/colors.css
themes/Adaptish/gtk-3.0/gtk-dark.css
themes/Adaptish/gtk-4.0/colors.css
themes/Adaptish/gtk-4.0/gtk-dark.css
themes/Adaptish/openbox-3/themerc
tmux/theme.conf
yazi/theme.toml
yazi/colors.lua
zathura/themerc
zsh/theme.sh
