[Desktop Entry]
Type=Application
Version=1.0
Name=UI Colorscheme
GenericName=Colorscheme chooser
Comment=UI colorscheme swither
Exec=/bin/bash -c "rofi-colorschemes"
Icon=preferences-color
Terminal=false
