@import "theme";

* {
  all: unset;
  padding: 0;
  margin: 0;
  font-family: "Symbols Nerd Font", "Hack", sans-serif;
}

/* COMMON */
.highlighted {
  color: $color-foreground-highlighted;
}

.disabled {
  background: repeating-linear-gradient(45deg,
    $color-background-base,
    $color-background-base calc(#{$border-width} * 2.5),
    $color-background-view calc(#{$border-width} * 2.5),
    $color-background-view calc(#{$border-width} * 5));
  border: $border-width dashed $color-background-view;
}

.crop-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.crop-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.crop-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.crop-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
