@import "theme.scss";

.window {
  border-radius: $items-spacing;
  background-color: $color-background-base;
  color: $color-foreground-base;

  &.bar {
    padding: calc(#{$items-spacing} / 3);
  }

  &.popup {
    padding: $items-spacing;
  }
}

.widget {
  border-radius: $items-spacing;
  background-color: $color-background-view;
  font-size: $main-font-size;
}

.widget-block {
  padding: $items-spacing;
}
