configuration {
    show-icons: true;
    me-select-entry: "";
	me-accept-entry: "MousePrimary";
}

@theme "../theme/theme.rasi"

* {
    font: "Hack Nerd Font 11";
}

window {
    location:           center;
    anchor:             center;
    width:              300px;
}

mainbox {
    children:           [message, listview];
}

message {
    enabled:            true;
}

textbox {
    horizontal-align: 0.5;
}

element-text {
    padding: 0.25em;
}

element-icon {
    enabled: false;
}


