[Unit]
Description=Wacom graphic tablet configuration
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/chirva/config_dotfiles/wacom/wacom.sh

[Install]
WantedBy=graphical-session.target
