$color-black:                   {black};
$color-red:                     {red};
$color-green:                   {green};
$color-yellow:                  {yellow};
$color-blue:                    {blue};
$color-magenta:                 {magenta};
$color-cyan:                    {cyan};
$color-white:                   {white};
$color-black-bright:            {black_bright};
$color-red-bright:              {red_bright};
$color-green-bright:            {green_bright};
$color-yellow-bright:           {yellow_bright};
$color-blue-bright:             {blue_bright};
$color-magenta-bright:          {magenta_bright};
$color-cyan-bright:             {cyan_bright};
$color-white-bright:            {white_bright};

$color-background-base:         {background_base};
$color-background-view:         {background_view};
$color-background-focused:      {background_focused};
$color-background-highlighted:  {background_highlighted};

$color-foreground-base:         {foreground_base};
$color-foreground-highlighted:  {foreground_highlighted};
$color-foreground-faded:        {foreground_faded};

$primary:                       {primary};
$primary_focused:               {primary_focused};
$primary_highlighted:           {primary_highlighted};
$on_primary:                    {on_primary};

$secondary:                     {secondary};
$secondary_focused:             {secondary_focused};
$secondary_highlighted:         {secondary_highlighted};
$on_secondary:                  {on_secondary};

$warning:                       {warning};
$warning_focused:               {warning_focused};
$warning_highlighted:           {warning_highlighted};
$on_warning:                    {on_warning};



