color normal default default

color index_flags   {warning.base}           default
color index_date    {info.base}              default
color index_author  {accent.base}            default
color index_subject {foreground.base}   default
color indicator     {accent.base}            {background.bright}

color header {accent.base} default
color header {warning.base} default "^Subject"
color status {accent.base} {background.bright}

color sidebar_indicator {accent.background}     {accent.base}
color sidebar_highlight {accent.base}        default
color sidebar_divider   default         default
color sidebar_flagged   {warning.base}       default
color sidebar_new       {info.base}          default

color body {info.base} default "(https?)://[^[:space:]]+"
