* {{
color-black:                {black};
color-red:                  {red};
color-green:                {green};
color-yellow:               {yellow};
color-blue:                 {blue};
color-magenta:              {magenta};
color-cyan:                 {cyan};
color-white:                {white};
color-black-bright:         {black.bright};
color-red-bright:           {red.bright};
color-green-bright:         {green.bright};
color-yellow-bright:        {yellow.bright};
color-blue-bright:          {blue.bright};
color-magenta-bright:       {magenta.bright};
color-cyan-bright:          {cyan.bright};
color-white-bright:         {white.bright};

color-background-base:          {background.base};
color-background-bright:        {background.bright};
color-background-brightest:     {background.brightest};
color-background-dim:           {background.dim};

color-foreground-base:          {foreground.base};
color-foreground-bright:        {foreground.bright};
color-foreground-dim:           {foreground.dim};

color-primary-base:             {primary.base};
color-primary-bright:           {primary.bright};
color-primary-dim:              {primary.dim};
color-primary-background:       {primary.background};
color-primary-foreground:       {primary.foreground};

color-secondary-base:           {secondary.base};
color-secondary-bright:         {secondary.bright};
color-secondary-dim:            {secondary.dim};
color-secondary-background:     {secondary.background};
color-secondary-foreground:     {secondary.foreground};

color-warning-base:             {warning.base};
color-warning-bright:           {warning.bright};
color-warning-dim:              {warning.dim};
color-warning-background:       {warning.background};
color-warning-foreground:       {warning.foreground};
}}
