* {{
color-black:                {black};
color-red:                  {red};
color-green:                {green};
color-yellow:               {yellow};
color-blue:                 {blue};
color-magenta:              {magenta};
color-cyan:                 {cyan};
color-white:                {white};
color-black-bright:         {black.bright};
color-red-bright:           {red.bright};
color-green-bright:         {green.bright};
color-yellow-bright:        {yellow.bright};
color-blue-bright:          {blue.bright};
color-magenta-bright:       {magenta.bright};
color-cyan-bright:          {cyan.bright};
color-white-bright:         {white.bright};

color-background:               {background.base};
color-background-bright:        {background.bright};
color-background-brightest:     {background.brightest};

color-foreground:               {foreground.base};
color-foreground-bright:        {foreground.bright};
color-foreground-dim:           {foreground.dim};

color-accent:                         {accent.base};
color-accent-bright:                  {accent.bright};
color-accent-contrast:                {accent.contrast};
color-accent-background:              {accent.background};
color-accent-foreground:              {accent.foreground};

color-info:                           {info.base};
color-info-bright:                    {info.bright};
color-info-contrast:                  {info.contrast};
color-info-background:                {info.background};
color-info-foreground:                {info.foreground};

color-success:                        {success.base};
color-success-bright:                 {success.bright};
color-success-contrast:               {success.contrast};
color-success-background:             {success.background};
color-success-foreground:             {success.foreground};

color-warning:                        {warning.base};
color-warning-bright:                 {warning.bright};
color-warning-contrast:               {warning.contrast};
color-warning-background:             {warning.background};
color-warning-foreground:             {warning.foreground};

color-error:                          {error.base};
color-error-bright:                   {error.bright};
color-error-contrast:                 {error.contrast};
color-error-background:               {error.background};
color-error-foreground:               {error.foreground};
}}
