set default-bg "{background.base}"
set inputbar-bg "{background.base}"
set statusbar-bg "{background.base}"
set completion-highlight-bg "{background.bright}"

set default-fg "{foreground.base}"
set inputbar-fg "{foreground.base}"
set statusbar-fg "{foreground.bright}"
set completion-highlight-fg "{foreground.bright}"

set notification-bg "{background.brightest}"
set notification-fg "{foreground.base}"
set notification-warning-bg "{warning.base}"
set notification-warning-fg "{warning.background}"
set notification-error-bg "{error.base}"
set notification-error-fg "{error.background}"

set highlight-color "{info.base}"
set highlight-active-color "{accent.base}"
set highlight-fg "{background.base}"

set index-bg "{background.base}"
set index-fg "{foreground.base}"
set index-active-bg "{accent.base}"
set index-active-fg "{accent.background}"

set recolor-lightcolor "{background.bright}"
set recolor-darkcolor "{foreground.base}"
