set default-bg "{background.base}"
set inputbar-bg "{background.base}"
set statusbar-bg "{background.base}"
set completion-highlight-bg "{background.bright}"

set default-fg "{foreground.base}"
set inputbar-fg "{foreground.base}"
set statusbar-fg "{foreground.bright}"
set completion-highlight-fg "{foreground.bright}"

set notification-bg "{background.brightest}"
set notification-fg "{foreground.base}"
set notification-warning-bg "{secondary.base}"
set notification-warning-fg "{secondary.background}"
set notification-error-bg "{warning.base}"
set notification-error-fg "{warning.background}"

set highlight-color "{secondary.base}"
set highlight-active-color "{primary.base}"
set highlight-fg "{background.base}"

set index-bg "{background.base}"
set index-fg "{foreground.base}"
set index-active-bg "{primary.base}"
set index-active-fg "{primary.background}"

set recolor-lightcolor "{background.bright}"
set recolor-darkcolor "{foreground.base}"
